/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.content-area {
	font-family: 'Montserrat', sans-serif;
	color: #4A4B4E;
	max-width: 960px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.vertical-spacer {
    min-height: 100vh;
}

.header-text-holder {
	margin-top: 140px;
	text-align: center;
	-webkit-animation: fadein-from-left 1s forwards;
	        animation: fadein-from-left 1s forwards;
}

.header-text {
	font-size: 50px;
}

.subheader-text {
	font-size: 30px;
}

.logo {
	opacity: 0;
	text-align: center;
	color: #FB7F27;
	font-size: 15rem;
	-webkit-animation: fadein-from-left 1s 0.5s forwards;
	        animation: fadein-from-left 1s 0.5s forwards;
}

.intro {
	opacity: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-animation: fadein-from-left 1s 1s forwards;
	        animation: fadein-from-left 1s 1s forwards;
}

.links-container {
    margin-top: 20px !important;
	opacity: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-animation: fadein-from-left 1s 1.5s forwards;
	        animation: fadein-from-left 1s 1.5s forwards;
}

.links-container a {
    color: #FB7F27;
}

.section-header-text {
    padding-top: 100px;
    text-align: center;
	font-size: 50px;
}

.icon {
    margin-top: 30px !important;
    text-align: center;
	color: #FB7F27;
	font-size: 2rem;
}

.section-text {
    margin-top: 30px !important;
	text-align: center;
}

.text-left {
    margin-top: 30px !important;
	text-align: left;
}

.text-right {
    margin-top: 30px !important;
	text-align: right;
}

.separator {
    border-right: 1px solid black;
}

@-webkit-keyframes fadein-from-left {
	from {
		opacity: 0;
		-webkit-transform: translateX(-25px);
		        transform: translateX(-25px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes fadein-from-left {
	from {
		opacity: 0;
		-webkit-transform: translateX(-25px);
		        transform: translateX(-25px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@media only screen and (max-height: 850px) {
	.header-text-holder {
		margin-top: 20px;
	}
    .section-header-text {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.separator {
		border-right: 0px;
	}
}